<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %}
        WebMon
      {% endblock %}
    </title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" 
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <p id="time"></p>
    <!-- <py-script>
    import asyncio
    from datetime import datetime

    async def main():
        for i in range(10):
          status_code_element = document.getElementById("time")
          status_code_element.innerHTML = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
          await asyncio.sleep(1)   
                             
    await main()
  </py-script> -->
    {% include "navbar.html" %}
    {% block content %}{% endblock %}
    <script type="text/javascript" src="/node_modules/flowbite/dist/flowbite.js"></script>
  </body>
</html>